button.Button {
  font-size: 10pt;
}

button.Button:hover, button.Button:focus {
  text-decoration: none;
}

button.Button:hover, {
  color: #99cc33;
}

button.Button.null.btn.btn-link:hover, {
  color: #99cc33;
}

button.Button.active {
  color: #000000;
  font-weight: 600;
}

button.Button.inactive {
  color: #9c9c9c;
}

button.Button.active:hover {
  color: #99cc33;
}

button.Button.inactive:hover {
  color: #99cc33;
}
