.Card .Card-left {
    width: 25px;
}

.Card .Card-title {
    color: #000000;
    font-size: 12pt;
}

.Card .Card-description {
    font-size: 13px;
    color: #bfbfbf;
}

.Card .Card-chat {
    font-size: 12px;
    color: #999999;
}
