body {
  background-color: #F5F5F5 !important;
}

.Item .Item-hcard {
  padding-top: 35px;
  padding-bottom: 30px;
}

.Item .Item-status {
  color: #ffffff;
}

.Item-description {
  font-size: 13px;
  color: #bfbfbf;
}

.Item .Item-section {
  max-width: 960px;
}

.Item .Item-avatar {
  width: 64px;
  height: 64px;
}

.Item .Item-comment-body {
  word-break: break-all;
}