.Login,
.Login-flex {
  height: 100%;
}

.Login #background {
  background: url(/img/login-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  width: 100%;
  min-width: 320px;
  height: 100%;
  opacity: 0.2;
  filter: alpha(opacity=20);
  z-index: -1;
}

.Login-container {
  width: 100%;
  max-width: 320px;
}

.Login-logo {
  margin-bottom: 60px;
}
